.name-payment {
  display: flex;
  justify-content: space-between;
  padding: 10px 12px 6px 12px;
  
}
.slot__name {
  color: #333;
font-family: 'Inter';
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: 140%;
}
.slot-item {
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 28px;
  margin-right: 20px;
  height: 190px;
  box-sizing: border-box;
  align-items:stretch;
 
}
.slot-item__location::before {
  content: " ";
  background: url("../../services/img/Group2.png") no-repeat center;
  padding: 10px 15px 10px 0px;
  width: 10px;
  height: 10px;
  margin-right: 6px;
}

.slot-item__location {
  color: #333;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  padding: 0 12px;
  overflow: hidden;
  white-space: normal;  
  text-overflow: ellipsis;
}
.slot__payment {
  color: #333;
  font-family: 'Inter';
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 140%;
  margin-right: 5px;
  padding-top: 5px;
}

.slot-item {
  width: 327px;
 
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
}
.slot-item img {
  width: 100%;
  height: 57px;
}

.slot-item__line {
  height: 1px;
  width: 56px;
  background-color: #dedede;

  align-self: center;
  margin: 14px 0 8px 0;
}

.slot-item__location {

max-height: 20px;  
max-width: 300px;
overflow: scroll;
color: #333;
font-family: 'Inter';
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 140%;

}


.slot-item__description {
   color: #333; 
   padding: 0px 12px 0px 12px; 
   word-break: break-all;
   color: #333;
font-family: 'Inter';
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: 140%;
  overflow: scroll; 
  text-overflow: ellipsis;
   white-space: normal;  
    height: 48px;
    opacity: 0.699999988079071;
  
  
}
