.form-register {
  display: flex;

  flex-direction: column;
 
  padding-top: 50px;
  justify-self: flex-end;
  align-self: center;
  
  min-width: 500px;
  flex-shrink: 0;

}

.form-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 140%;
  margin-bottom: 45px;
  /* identical to box height, or 62px */

  text-transform: uppercase;

  color: #333333;
}

.form-register input {
  max-width: 337px;
 min-width: 337px;
  height: 44px;
  margin-bottom: 25px;
  border-radius: 22px;
  border: 1px solid #e8e8e8;
  padding: 10px 10px 10px 27px;
  box-sizing: border-box;
}
.form-register input::placeholder {
  color: #8F8F8F;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; 
}

.form-register input:nth-child(5) {
  margin-bottom: 10px;
}
.policy {
  max-width: 81px;
}
.policy span {
  color: #4fa4fb;
  margin-left: 5px;
  font-weight: 700;
}

.validation {
  color: #f04b6c;
}

.register-page {
  display: flex;
  min-width: fit-content;
  justify-content: right;
  max-width: 1440px;
  position: relative;
min-width: 1440px;
 
}

.register-blur {
  position: absolute;
  width: 350px;
  height: 500px;
  opacity: 0.5;
  background: #37ff9f;
  filter: blur(110px);
  right: 0;
bottom: 0;
  z-index: 0;
}
.register-page img {
  position: relative;
  z-index: 1;
  max-height: 100vh;
}
.form-register button {
  max-width: 337px;
  margin-top: 55px;
  border-radius: 30px;
  height: 52px;
  padding:0 24px ;
  min-width: 337px;
  color: #FFF;
font-family: 'Inter';
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 163.023%; /* 26.084px */
text-transform: capitalize;
}

.policy {
  margin: 10px 0;
  max-width:265px;
  min-width: 265px;
  display: flex;
  color: #848484;
font-family: 'Inter';
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 160% */
}

.form__have-account {
  justify-content: start;
  min-width: 261px;
}
.form__have-account span {
  margin-left: 15px;
}

.parkomatReg-pic {
  background: url('../../../services/img/Frame2.png') 100% 20%/contain no-repeat;
  height: 805px;
  min-width: 700px;
  position: relative;
 /* position: absolute;
 right: 0;
   */
   z-index: 2;
}


@media (max-width: 990px) {
  .login-pic{
 
  
 } 
 .form-register {
  margin-right: 0px;
  min-width: 400px;
 }
 .register-page {
  
 }
 
} 

@media (max-width: 768px) {
  .form-register{
    margin-left: 40px;
  }
}